<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=1280" />
  <title>QPointCalculator - DeLTA Lab</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
</head>

<body>
  <h1>QPointCalculator</h1>
  <div class="input_container">
    <section>
      <div class="input_field">
        <label for="param1">a (Å)</label>
        <input id="param1" placeholder="a" value="4.1">
      </div>
      
      <div class="input_field">
        <label for="param4">α (degrees)</label>
        <input id="param4" placeholder="alpha" value="43">
      </div>

      <div class="input_field">
        <label for="param2">b (Å)</label>
        <input id="param2" placeholder="b" value="4.1">
      </div>

      <div class="input_field">
        <label for="param5">β (degrees)</label>
        <input id="param5" placeholder="beta" value="68">
      </div>
    
      <div class="input_field">
        <label for="param3">c (Å)</label>
        <input id="param3" placeholder="c" value="3">
      </div>
      
      <div class="input_field">
        <label for="param6">γ (degrees)</label>
        <input id="param6" placeholder="gamma" value="55">
      </div>
    </section>
    
    <div id="lat_info"></div>
    <section>
      <div class="input_field">
        <label for="u">u (h, k, l)</label>
        <input type="text" id="u" placeholder="u Ex:[1, 0, 0]" value="[1, 0, 0]">
      </div>
      <div class="input_field">
        <label for="v">v (h, k, l)</label>
        <input type="text" id="v" placeholder="v Ex:[0, 1, 0]" value="[0, 1, 0]">
      </div>
      <div id="angle_info"></div>
    </section>
    <section>
      <div class="input_field">
        <label for="two_theta">two theta</label>
        <input type="text" id="two_theta" placeholder="[90, 110, 130]" value="[90, 110, 130]">
      </div>
      <div class="input_field">
        <label for="param7">wavelength</label>
        <input id="param7" placeholder="wavelength" value="25">
      </div>
      <div class="input_field">
        <label for="r">r (h, k, l)</label>
        <input type="text" id="r" placeholder="r Ex:[1, 0, 0]" value="[2, 1, 0]">
      </div>
      <div class="input_field">
        <label for="w">w (h, k, l)</label>
        <input type="text" id="w" placeholder="w Ex:[0, 1, 0]" value="[0, -1, 3]">
      </div>
    </section>
  </div>

  
  <button onclick="submitForm()">Calculate</button>

  <div id="plot"></div>
  <div id="thetaCutPlot"></div>
  <div id="lattice-plot" ></div>
  <div id="recip-lattice-plot"></div>
  
  
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/three@0.160.0/build/three.min.js"></script>
  <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
